
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

        <!-- Görsel Kısmı -->
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/theme/img/ad.jpg"
                 class="d-block mx-lg-auto img-fluid"
                 alt="Bootstrap Themes"
                 width="700"
                 height="500"
                 loading="lazy">
        </div>

        <!-- Yazı ve Buton Kısmı -->
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                Hakkımızda
            </h1>
            <p class="lead">
                Han Store, 2025 yılında teknolojiye tutkuyla bağlı bir ekip tarafından, kurucumuz Denizhan Sancaktaroğlu
                öncülüğünde kurulmuştur. Amacımız; en güncel, kaliteli ve ulaşılabilir teknoloji ürünlerini
                kullanıcılarımızla buluşturarak hayatlarını kolaylaştırmak ve hızlandırmaktır.
            </p>
        </div>

    </div>


    <!-- Yazı ve Buton Kısmı (Sağ) -->
    <div class="row align-items-center g-5 py-5">

        <!-- Resim Solda -->
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/theme/img/mutlu.jpg"
                 class="d-block mx-lg-auto img-fluid"
                 alt="Bootstrap Themes"
                 width="700"
                 height="500"
                 loading="lazy">
        </div>

        <!-- Yazılar Sağda -->
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                Müşteri Memnuniyeti
            </h1>
            <p class="lead">
                Kurulduğumuz günden bu yana müşteri memnuniyetini her şeyin önünde tutarak; bilgisayar
                aksesuarlarından akıllı ev cihazlarına, günlük kullanıma yönelik teknolojik ürünlerden
                yenilikçi elektronik aksesuarlara kadargeniş bir ürün yelpazesi sunuyoruz.
            </p>

        </div>

    </div>


    <div class="py-5 my-5 text-center">

        <!-- Başlık -->
        <h1 class="display-5 fw-bold text-body-emphasis">
            Neden biz   ?
        </h1>

        <!-- Açıklama ve Butonlar -->
        <div class="col-lg-12 mx-auto">
            <p class="lead mb-4">
                Gelişen dijital dünyaya ayak uydurmakla kalmayıp, kullanıcı deneyimini en üst seviyeye taşımayı hedefliyoruz. Sadelik, güvenilirlik ve hız temel prensiplerimizdir. Müşterilerimizin ihtiyaçlarını doğru anlayarak, onlara en uygun çözümleri sunmak için sürekli olarak yenilikçi teknolojileri takip ediyor ve ürün portföyümüzü bu doğrultuda güncelliyoruz.
                Han Store olarak; teknolojiyi sadece takip etmekle kalmıyor, sektördeki en kaliteli ve yenilikçi ürünleri titizlikle seçiyor, güvenilir tedarikçilerle çalışıyoruz. Amacımız, müşterilerimizin hayatını kolaylaştırmak ve teknoloji alışverişini hızlı, pratik ve keyifli hale getirmektir. İster eviniz için akıllı cihazlar, ister günlük kullanım için fonksiyonel aksesuarlar olsun; Han Store, en iyi ürünleri sadece birkaç tıkla kapınıza kadar ulaştırıyor.
                Her adımda müşteri memnuniyetini ön planda tutuyor, satış sonrası destekle de yanınızda olmaya devam ediyoruz. Teknolojiye olan tutkumuzla, sizlere en güncel ve güvenilir çözümleri sunmak için çalışıyoruz.
            </p>
        </div>

    </div>



</div>