
@{
    ViewBag.Title = "Completed";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 style="color: green">Siparişiniz başarıyla gerçekleşti <i class="fa fa-check-square" aria-hidden="true"></i> </h2>
            <h4>Satın aldığınız ürünler en yakın zamanda kargoya verilecektir.</h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <!-- row sınıfı eklendi -->
            <div class="col-md-3">
                <a href="/Home/List/" class="btn btn-success w-100" style="text-decoration: none;">Alışverişe devam et</a>
            </div>
            <div class="col-md-3">
                <a href="/Account/Order" class="btn btn-success w-100" style="text-decoration: none;">Sipariş detaylarını incele</a>
            </div>
    </div>

</div>


